extends layout

block description 
  #summary
      // TODO: put a list of all links with their desc linked with back-end here

      each page in pages
        .card
          h2= page.name
          p= page.desc
          .card-container-bottom
            a.button(href = page.link) En savoir plus
      


block main-content
  .main-content

    h1 #{app_name}
    br
    h2#welcome-phrase Bienvenue dans l'espace de visualisation des logs

    block description


block navbar
  .navbar 
    .navbar-left
      a#app-title(href = "/") #{app_name}


    .navbar-mid
      // TODO: put a list of all links of the site linked with back-end here
      // with a for loop 
      a.navbar-mid-link(href = "/puzzles") Puzzles
      a.navbar-mid-link(href = "/Users") Users
      a.navbar-mid-link(href = "/leaderboard") Leaderboard


    .navbar-right
      // TODO: link with connexion link with back-end here
      a(href = "/connect") Connexion